.form {
  font-family: 'Montserrat', sans-serif;;
  &__group {
    position: relative;
    display: flex;
    width: 90%;
  }

  &__row {
    display: flex;
    align-items: flex-start;
    gap: 5px;
    margin: 0 0 20px 10px;
    width: 95%;

    &--todo {
      display: flex;
      align-items: center;
      margin-left: 40px;
      cursor: none;
    }
  }

  &__hint {
    display: block;
    margin-bottom: 12px;
    font-size: 18px;
    font-weight: 700;
  }
}

.field {
  width: 95%;
  padding: 5px 10px;
  border: 1px solid var(--gray);
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;

  &:focus {
    outline: 2px solid var(--accent);
    outline-offset: 4px;
  }
}

.radio {
  position: absolute;

  width: 1px;
  height: 1px;

  overflow: hidden;
  clip: rect(0 0 0 0);

  &__style {
    position: absolute;
    top: 3px;

    width: 16px;
    height: 16px;
    margin-left: 0px;

    border: 2px solid var(--accent);
    border-radius: 50%;
  }

  &:checked + .radio__style::before {
    content: '';

    position: absolute;
    top: 50%;
    left: 50%;

    width: 8px;
    height: 8px;

    background-color: var(--accent);
    border-radius: 50%;

    transform: translate(-50%, -50%);
  }

  &:disabled + .radio__style {
    border-color: #cccccc;
  }

  &:checked:disabled + .radio__style::before {
    background-color: #cccccc;
  }

  &__text {
    margin-left: 25px;
    transition: all 0.5s;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }
}

.check-box--switch {
  position: relative;
  opacity: 0;
}

.check-box--switch + label {
  position: relative;
  padding: 0 0 0 40px;
  cursor: pointer;
}

.check-box--switch + label:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 0;
  width: 32px;
  height: 16px;
  border-radius: 13px;
  background: var(--light);
  box-shadow: inset 0 2px 3px rgba(0,0,0,0.4);
  transition: 0.3s;
}

.check-box--switch + label::after {
  content: '';
  position: absolute;
  top: 3px;
  left: 1px;
  width: 14px;
  height: 14px;
  border-radius: 10px;
  background: var(--white);
  box-shadow: 0 2px 5px rgba(0,0,0,0.4);
  transition: 0.3s;
}

.check-box--switch:checked + label::before {
  background: var(--accent);
}

.check-box--switch:checked + label::after {
  left: 17px;
}

.check-box {
  position: absolute;

  width: 1px;
  height: 1px;

  overflow: hidden;
  clip: rect(0 0 0 0);
}

.check-style {
  position: absolute;

  width: 16px;
  height: 16px;
  margin-left: -25px;

  border: 2px solid var(--accent);
}

.check-box:checked + .check-style::before {
  content: '';

  position: absolute;
  top: 50%;
  left: 50%;

  width: 8px;
  height: 8px;

  background-color: var(--accent);

  transform: translate(-50%, -50%);
}

.check-box:disabled + .check-style {
  border-color: var(--light);
}

.check-box:checked:disabled + .check-style::before {
  background-color: var(--light);
}

.check-box:focus + .check-style {
  box-shadow: 0 0 0 2px var(--white);
}
