:root {
  --black: #161131;
  --blackpure: #000000;
  --white: #ffffff;
  --light: #cccccc;
  --gray: #7a7575;
  --accent: #b68d4c;
  --accent-light: #f4deba;

  --box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.8);
}
