:root {
  --container-width: 1200px;
  --container-padding: 15px;

  --font-main: 'Poppins', sans-serif;
  --font-accent: 'Playfair Display', serif;

  --page-bg: #b09454;
  --text-color: #ffffff;
  --accent: #ac182c;

  --laptop-size: 1199px;
  --tablet-size: 959px;
  --mobile-size: 599px;
}

.dark {
  --page-bg: #252526;
  --text-color: #fff;
}
