.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 35vh;
  width: 100%;
  min-height: 160px;
  padding: 20px;

  font-family: 'Montserrat', sans-serif;
}

.settings {
  &__wrapper {
    width: 400px;
  }

  &__block {
    position: relative;
    z-index: 10;
    padding: 15px;
    border-radius: 15px;
    text-align: left;
    margin-bottom: 30px;

    background: #ffffff;
    color: #000000;
    box-shadow: var(--box-shadow);

    opacity: 0;
    transform: translateY(60%) scale(0);
    transition: all 0.8s;

    &::after {
      content: '';
      position: absolute;
      z-index: 9;

      width: 25px;
      height: 45px;

      background: #ffffff;
      bottom: -15px;
      left: 30px;

      transform: rotate(45deg);
    }

    &--active {
      opacity: 1;
      transform: translateY(0)  scale(1);
    }
  }

  &__text {
    position: relative;
    z-index: 10;
  }

  &__title {
    margin: 0 0 15px 0;
    font-size: 17px;
    font-weight: 700;
    color: #b68d4c;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 10px;

    cursor: pointer;
    opacity: 0.8;

    transition: 0.3s;

    img {
      width: 35px;
      height: 35px;
    }

    p {
      font-size: 18px;
    }

    &:hover {
      opacity: 1;
    }
  }

  &__show-block {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 15px;

    .form__group {
      width: 45%;
    }
  }
}

.plus-icon {
  background-image: url('../img/svg/plus.svg');
}

.tag-item {
  margin-bottom: 20px;
  margin-right: 5px;
  padding: 3px 10px;
  color: var(--white);
  background-color:#b68d4c;
  border-radius: 10px;
  transition: all 0.5s;
  opacity: 0.8;

  &:hover {
    opacity: 1;
  }
}

.quote__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  transition: all 0.3s ease-in;
}

.quote {
  width: 400px;
  min-height: 32px;
  padding-bottom: 15px;
  font-size: 17px;
  transition: all 0.3s ease-in;
}

.author {
  min-height: 20px;
  font-size: 15px;
  font-style: italic;
  transition: all 0.3s ease-in;
}

.change-quote {
  width: 32px;
  height: 32px;
  margin-bottom: 30px;
  background-image: url('./../img/svg/reload.svg');
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.change-quote:hover {
  opacity: 1;
}

.change-quote:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.todo {
  &__wrapper {
    width: 400px;
    transition: all 0.3s ease-in;
  }

  &__header {
    display: flex;
    align-items: center;
    gap: 20px;

    cursor: pointer;
    opacity: 0.8;

    transition: 0.3s;

    img {
      width: 30px;
      height: 30px;
    }

    p {
      font-size: 18px;
    }

    &:hover {
      opacity: 1;
    }
  }
}
