.footer {
  height: 35vh;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &__content {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 25vh;
    width: 100%;
    padding: 20px;

    font-family: 'Montserrat', sans-serif;
  }

  &__сontacts {
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
  }

  &__social {
		display: flex;
		column-gap: 30px;
		align-items: center;
	}

	&__social-item {
		transition: all 0.5s;
	}

	&__social-item svg {
		transition: all 0.5s;
	}

	&__social-item svg:hover {
		fill: var(--accent-light);
	}

	&__social-item img {
		width: 30px;
	}

	&__copy {
		font-size: 18px;

		color: var(--white);
	}
}

@media (max-width: 768px) {
  .footer {
    height: 45vh;
  }
}


