.body--momentum {
  min-width: 320px;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  color: var(--text-color);
  text-align: center;
  background: url('./../img/bg.jpg') center/cover, rgba(0, 0, 0, 0.4);
  background-repeat: no-repeat;
  background-blend-mode: multiply;
  transition: all 1s ease-in-out;
  overflow-y: hidden;
}

.header--momentum {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 25vh;
  min-height: 220px;
  padding: 20px;
}

.player-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  width: 160px;
  padding-left: 20px;
  margin-bottom: 28px;
}

.play-list {
  height: 15vh;
  padding: 10px;
  border-radius: 15px;
  text-align: left;
  overflow: auto;
}

.play-list::-webkit-scrollbar {
  width: 0px;
  border-radius: 5px;
  height: 13vh;
  background-color: #f9f9fd;
}

.play-list::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #edda80;
}

.play-list::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.2);
  border-radius: 5px;
  background-color: #f9f9fd;
}

.play-item {
  display: flex;
  align-items: center;
  gap: 10px;
  position: relative;
  padding: 5px;
  padding-left: 20px;
  list-style: none;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.play-item:hover {
  opacity: 1;
}

.item-active {
  color: #edda80;
}

.player-icon {
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.player-icon-min {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
}

.player-icon:hover {
  opacity: 1;
}

.player-icon:active {
  border: 0;
  outline: 0;
  transform: scale(1.1);
}

.play {
  width: 40px;
  height: 40px;
  background-size: 40px 40px;
  background-image: url('../img/svg/play.svg');
}

.play-min {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  background-image: url('../img/svg/play.svg');
}

.pause {
  background-image: url('../img/svg/pause.svg');
}

.play-prev {
  background-image: url('../img/svg/play-prev.svg');
}

.play-next {
  background-image: url('../img/svg/play-next.svg');
}

.weather {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  row-gap: 5px;
  width: 180px;
  min-height: 180px;
  text-align: left;
  transition: all 0.3s ease-in;
}

.weather-error {
  margin-top: 0px;
  text-align: center;
  font-style: italic;
  font-size: 18px;
}

.description-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  column-gap: 12px;
}

.weather-icon {
  font-size: 44px;
}

.city {
  width: 170px;
  height: 34px;
  padding: 5px;
  font-size: 20px;
  line-height: 24px;
  color: #fff;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #fff;
  background-color: transparent;
}

.city::placeholder {
  font-size: 20px;
  color: #fff;
  opacity: 0.6;
}
