.main--momentum {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 30vh;
  min-height: 260px;
  padding: 20px;
}

.slider-icon {
  position: absolute;
  top: 50%;
  margin-top: -16px;
  width: 32px;
  height: 32px;
  background-size: 32px 32px;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  outline: 0;
  opacity: 0.8;
  cursor: pointer;
  transition: 0.3s;
}

.slide-prev {
  left: 20px;
  background-image: url('./../img/svg/slider-prev.svg');
}

.slide-next {
  right: 20px;
  background-image: url('./../img/svg/slider-next.svg');
}

.time-block {
  display: none;
  flex-direction: column;
}

.time {
  min-height: 124px;
  margin-bottom: 10px;
  font-size: 110px;
  font-weight: 700;
  transition: all 0.3s ease-in;
}

.date {
  min-height: 28px;
  font-size: 30px;
  font-style: italic;
  letter-spacing: 3px;
  margin-bottom: 20px;
  text-transform: capitalize;
  transition: all 0.3s ease-in;
}

.greeting-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  min-height: 48px;
  width: 100vw;
  font-size: 44px;
  transition: all 0.3s ease-in;
}

.greeting {
  min-width: 30%;
  padding: 10px;
  text-align: right;
}

.name {
  padding: 10px;
  font-size: 44px;
  text-align: left;
  color: var(--text-color);
  background-color: transparent;
  border: 0;
  outline: 0;
}

.name::placeholder {
  color: var(--text-color);
  opacity: 0.6;
}

.lds-ripple {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-ripple div {
  position: absolute;
  border: 4px solid #fff;
  opacity: 1;
  border-radius: 50%;
  animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
  animation-delay: -0.5s;
}

@keyframes lds-ripple {
  0% {
    top: 36px;
    left: 36px;
    width: 0;
    height: 0;
    opacity: 1;
  }
  100% {
    top: 0px;
    left: 0px;
    width: 72px;
    height: 72px;
    opacity: 0;
  }
}

@media (max-width: 1199px) {
  .time {
    font-size: 90px;
  }

  .date {
    font-size: 26px;
  }

  .greeting {
    min-width: 40%;
  }

  .greeting-container {
    font-size: 38px;
  }

  .name {
    font-size: 38px;
  }
}

@media (max-width: 1199px) {
  .time {
    font-size: 90px;
  }

  .date {
    font-size: 26px;
  }

  .greeting-container {
    font-size: 38px;
  }

  .greeting {
    min-width: 50%;
  }

  .name {
    font-size: 38px;
  }
}

@media (max-width: 959px) {
  .time {
    font-size: 80px;
  }

  .date {
    font-size: 24px;
  }

  .greeting-container {
    font-size: 32px;
  }

  .name {
    font-size: 32px;
  }
}

@media (max-width: 730px) {
  .greeting {
    text-align: center;
  }

  .name {
    text-align: center;
  }
}

@media (max-width: 599px) {
  .time {
    font-size: 60px;
  }

  .greeting-container {
    font-size: 24px;
  }

  .name {
    font-size: 24px;
    width: 100%;
  }
}
